[Unit]
Description=Enforcer (premium)
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/enforcer/premium/App
ExecStart=/usr/bin/dotnet "/opt/enforcer/premium/App/Enforcer Premium.dll"
Restart=always
RestartSec=5
Environment=EnforcerPremiumAPI=
Environment=TelegramServerUrl=
Environment=TelegramFileUrl=
Environment=RedisConnection=
Environment=RedisPassword=
Environment=PaymentProviderToken=
Environment=ErrorChatId=
Environment=DisplayTimeZone=Europe/Amsterdam
Environment=LogPath=/opt/enforcer/premium/Logs
Environment=LanguagesPath=/opt/enforcer/Languages
Environment=TempLanguageFilesPath=/opt/enforcer/premium/TempLanguageFiles

[Install]
WantedBy=multi-user.target
